:root {
  --cursor-default: url("assets/cursors/default.png") 3 1, default;
  --cursor-pointer: url("assets/cursors/pointer.png") 7 5, pointer;
  --cursor-text: url("assets/cursors/text.png") 11 12, text;
  --cursor-wait: url("assets/cursors/wait.png") 11 11, wait;
  --cursor-progress: url("assets/cursors/progress.png") 3 1, progress;
  --cursor-move: url("assets/cursors/move.png") 3 1, move;
  --cursor-grab: url("assets/cursors/grab.png") 11 2, grab;
  --cursor-grabbing: url("assets/cursors/grabbing.png") 9 5, grabbing;
  --cursor-ns-resize: url("assets/cursors/ns-resize.png") 12 13, ns-resize;
  --cursor-ew-resize: url("assets/cursors/ew-resize.png") 12 12, ew-resize;
  --cursor-nwse-resize: url("assets/cursors/nwse-resize.png") 11 11, nwse-resize;
  --cursor-nesw-resize: url("assets/cursors/nesw-resize.png") 11 11, nesw-resize;
  --cursor-n-resize: url("assets/cursors/n-resize.png") 13 6, n-resize;
  --cursor-s-resize: url("assets/cursors/s-resize.png") 13 18, s-resize;
  --cursor-e-resize: url("assets/cursors/e-resize.png") 19 13, e-resize;
  --cursor-w-resize: url("assets/cursors/w-resize.png") 6 13, w-resize;
  --cursor-col-resize: url("assets/cursors/col-resize.png") 12 12, col-resize;
  --cursor-row-resize: url("assets/cursors/row-resize.png") 12 13, row-resize;
  --cursor-not-allowed: url("assets/cursors/not-allowed.png") 12 12, not-allowed;
  --cursor-help: url("assets/cursors/help.png") 12 21, help;
  --cursor-crosshair: url("assets/cursors/crosshair.png") 11 11, crosshair;
  --cursor-copy: url("assets/cursors/copy.png") 3 1, copy;
  --cursor-alias: url("assets/cursors/alias.png") 18 5, alias;
  --cursor-context-menu: url("assets/cursors/context-menu.png") 3 1, context-menu;
  --cursor-zoom-in: url("assets/cursors/zoom-in.png") 11 10, zoom-in;
  --cursor-zoom-out: url("assets/cursors/zoom-out.png") 11 10, zoom-out;
  --cursor-no-drop: url("assets/cursors/no-drop.png") 3 1, no-drop;
}
